<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anthony.sublime">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat.Light"
        tools:ignore="ExtraText">
        <activity android:name=".intro"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity
            android:name=".tela_principal"
            android:theme="@style/AppTheme.NoTitleBarTool" />
        <activity
            android:name=".Registrar.Reg_Email"
            android:theme="@style/AppTheme.NoTitleBarTool" />
        <activity
            android:name=".Registrar.Reg_Password"
            android:theme="@style/AppTheme.NoTitleBarTool" />
        <activity
            android:name=".Registrar.cadastro_user"
            android:theme="@style/AppTheme.NoTitleBarTool" />
        <activity android:name=".Registrar.profile_foto"
            android:theme="@style/AppTheme.NoTitleBarTool"></activity>

    </application>

</manifest>